#contact {
  #clockwise-map {
    min-height: 400px;
    .background {
      background-image: url(asset_path('about/map.png'));
      background-size: cover;
    }
  }

  .links {
    a {
     color: $cw-blue;
   }
   .contact-type {
     padding-left: 20px;
   }
  }
}
