#statuses {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

#statuses td, #statuses th {
  border: 1px solid #ddd;
  padding: 8px;
}

#statuses tr:nth-child(even){background-color: #f2f2f2;}

#statuses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #08c;
  color: white;
}

.plan-list {
  margin-left: 2em;
}

.overview-list {
  margin-top: 1em;
  margin-bottom: 1em;
}