#index {
  h3 {
    font-size: 38px;
  }

  .btn-primary {
    background-color: $cw-green;
  }

  .content-3 .features > [class*="col-sm-"] {
    padding-bottom: 80px;
  }
  .content-3 .features:last-child > [class*="col-sm-"], .content-3 .features.last > [class*="col-sm-"] {
    padding-bottom: 0;
  }

  .content-4 .features > [class*="col-sm-"] {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .sprite {
    margin: 40px auto;
  }

  .sprite-clock {
    background: url(asset_path('index/sprite@2x.png')) no-repeat 0 0;
    background-size: 358px 475px;
    width: 115px;
    height: 115px;
  }

  .sprite-check {
    background: url(asset_path('index/sprite@2x.png')) no-repeat 0 -118px;
    background-size: 358px 475px;
    width: 115px;
    height: 102px;
    margin-top: 53px;
  }

  .sprite-rocket {
    background: url(asset_path('index/sprite@2x.png')) no-repeat 0 -223px;
    background-size: 358px 475px;
    width: 115px;
    height: 115px;
  }

  .sprite-roi {
    background: url(asset_path('index/sprite@2x.png')) no-repeat -119px 0;
    background-size: 358px 475px;
    width: 115px;
    height: 115px;
  }

  .sprite-patient {
    background: url(asset_path('index/sprite@2x.png')) no-repeat -119px -118px;
    background-size: 358px 475px;
    width: 115px;
    height: 115px;
  }

  .sprite-tools {
    background: url(asset_path('index/sprite@2x.png')) no-repeat -119px -235px;
    background-size: 358px 475px;
    width: 115px;
    height: 115px;
  }

  .sprite-hospital {
    background: url(asset_path('index/sprite@2x.png')) no-repeat -239px -1px;
    background-size: 358px 475px;
    width: 113px;
    height: 113px;
  }

  .sprite-heartbeat {
    background: url(asset_path('index/sprite@2x.png')) no-repeat -237px -117px;
    background-size: 358px 475px;
    width: 115px;
    height: 115px;
  }

  .sprite-stethoscope {
    background: url(asset_path('index/sprite@2x.png')) no-repeat -237px -235px;
    background-size: 358px 475px;
    width: 115px;
    height: 115px;
  }

  .sprite-labs {
    background: url(asset_path('index/sprite@2x.png')) no-repeat -237px -354px;
    background-size: 358px 475px;
    width: 114px;
    height: 114px;
  }

  #index-header {
    .background {
      background-image: none;
      background-color: $cw-blue;
    }
    h3 {
      color: white;
      margin-top: 10px;
    }
    p {
      color: #bdc3c7;
    }
    .player-wrapper {
      width: 57.26495726495726%;
    }
  }

  #index-logos {
    div {
      background: #e1e1e1;
    }
    img {
      margin: 0 20px;
    }
  }

  #index-features {
    .features {
      text-align: center;
      img {
        left: 135px;
      }
    }
  }

  .quotes {
    .background {
      background-image: url(asset_path('index/bg-for-quotes@2x.jpg'));
      opacity: 1;
    }
    .quote-text {
      color: white;
    }
    .quote-author {
      color: white;
      line-height: 30px;
    }
  }

  #index-roi {
    h3 {
      margin-bottom: 90px;
    }
    h4 {
      color: #e3e6e7;
    }
    .features {
      text-align: center;
    }

    .col-sm-3 > h4 {
      font-size: 5em;
      .percentage {
        font-size: 0.5em;
      }
      .prefix {
        font-size: 0.8em;
      }
      .suffix {
        font-size: 1em;
      }
    }
    .col-sm-8 > h4 {
      font-size: 3em;
    }
    @media (min-width: $screen-md-min) {
      .col-sm-8 > h4 {
        font-size: 6.5em;
      }
    }
  }

  #index-demo-cta {
    background-color: $cw-blue;
    color: white;
    a {
      text-transform: uppercase;
    }
  }

  #index-markets {
    a {
      text-transform: uppercase;
    }
    .features {
      text-align: center;
      img {
        left: 85px;
      }
    }
    p {
      margin: 0 0 30px;
    }
  }
}
