#markets, #er, #lab, #sc, #uc {
  @import 'common_content';

  .description a, .benefits a {
    color: $cw-blue;
  }

  section.feature-list {
    padding: 0 0 60px 0;
    border-bottom: 2px solid #ecf0f1;
    h6 {
      display: inline;
      font-size: 1.2em;
    }
    .row {
      padding: 20px 0;
      img {
        margin-right: 20px;
      }
    }
  }

  section.benefits {
    padding-top: 40px;
    h6 {
      color: #34495e;
      font-size: 24px;
    }
    .box-1 {
      top: 0;
    }
    .box-2 {
      top: 380px;
    }
    .box-3 {
      top: 780px;
    }
    .box-5 {
      top: 180px;
    }
    .box-6 {
      top: 580px;
    }
    .box-7 {
      top: 980px;
    }
    .actions {
      margin-top: 120px;
    }
    .actions a {
      color: white;
    }
  }
}

#markets {
  #markets-header {
    .background {
      background-image: url(asset_path('markets/background.jpg'));
    }
  }

  #markets-description {
    a {
      color: $cw-blue;
    }
  }

  #markets-benefits {
    padding-bottom: 120px;
    .features a.learn-more {
      display: block;
      padding-top: .5em;
      font-size: 1.25em;
      text-transform: uppercase;
      color: $cw-blue;
    }
  }
}

#er {
  #er-header {
    .background {
      background-image: url(asset_path('markets/er/clock.jpg'));
    }
  }
}

#lab {
  #lab-header {
    .background {
      background-image: url(asset_path('markets/lab/laboratory.jpg'));
    }
  }
}

#sc {
  #sc-header {
    .background {
      background-image: url(asset_path('markets/sc/waiting-room.jpg'));
    }
  }
}

#uc {
  #uc-header {
    .background {
      background-image: url(asset_path('markets/uc/waiting-room.jpg'));
    }
  }
}
