#cases, #papers, #events, #news {
  @import 'common_content';

  section.list-of-cards, section.list-of-things {
    margin: 0 0 60px 0;
    border-top: 2px solid #ecf0f1;
    a {
      color: $cw-blue;
    }
    .member:hover .photo-wrapper {
      background-color: $cw-blue;
    }
  }
}

#cases, #papers {
  section.list-of-cards {
    .members .member, .members .photo-wrapper, .fui-eye {
      width: 350px;
    }
    .members .photo-wrapper, .fui-eye {
      height: 215px;
    }
    .members .member-wrapper {
      vertical-align: top;
    }
    .members .photo {
      opacity: 0.75;
    }
    .members .name {
      color: $cw-blue;
    }
    .contacts {
      .website {
        margin-bottom: 15px;
      }
      a.whitepaper {
        text-transform: uppercase;
      }
    }
  }
}

#events, #news {
  section.list-of-things {
    padding-top: 0;
    padding-bottom: 110px;
    .thing {
      padding-top: 40px;
      p {
        margin: 15px 0;
      }
      .link {
        text-transform: uppercase;
      }
    }
  }
}

#cases {
  #cases-header {
    .background {
      background-image: url(asset_path('resources/cases/background.jpg'));
    }
  }
}

#papers {
  #papers-header {
    .background {
      background-image: url(asset_path('resources/papers/background.jpg'));
    }
  }
}

#events {
  #events-header {
    .background {
      background-image: url(asset_path('resources/events/background.jpg'));
    }
  }
}

#news {
  #news-header {
    .background {
      background-image: url(asset_path('resources/news/background.jpg'));
    }
  }
}
