---
layout: default
title: About Us | Clockwise.MD
permalink: /about/
id: about
---

<section id="about-team" class="header-11-sub">
  <div class="background">&nbsp;</div>
</section>

<section id="about-description" class="content-10 description">
  <div class="container">
    <h3>About<h3>
    <p>
      A leader in healthcare patient engagement, Clockwise.MD provides technology solutions that
      reflect the demands of today’s healthcare consumer. Our online scheduling and virtual
      queuing tools are used by more than 1,600 urgent care clinics, emergency departments, primary
      and specialty care clinics, diagnostic testing centers, and more to help boost patient satisfaction,
      improve clinic efficiency, and increase patient retention.
    </p>
    <p>
      We believe in creating a better end-to-end experience for today's on-demand healthcare consumer
      by providing communication technology that engages and empowers patients without increasing the
      workload for providers.
    </p>
    <h3>History</h3>
    <p>
      Clockwise.MD was founded in 2012 when a group of seasoned healthcare information technology
      entrepreneurs began applying customer-centric tools used successfully in other industries to
      the healthcare industry. The goal was to arm providers with the tools they needed to improve
      the overall patient experience.
    </p>
    <p>
      The company was purchased by <a href="https://docutap.com/">DocuTAP</a> in 2017. As a part of the
      DocuTAP family, Clockwise.MD is able to leverage the power of the urgent care industry’s leading
      software and service company. Our combined resources will accelerate our mission to improve the
      patient experience from end to end.
    </p>
    <h3>Team</h3>
    <p>
      We have a team of passionate, creative-minded people devoted to helping our customers help
      their customers. However, we're not big into titles at Clockwise.MD. What we are into are our office mascots.
    </p>
    <p>
      Get to know some of our office regulars (and some of our employees' dream pets) below.
    </p>
  </div>
</section>

<section id="about-pets" class="crew-4">
  <div class="container">
    {% for pet in site.data.pets %}
    {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}
    {% if modulo == '0' or forloop.first %}
    <div class="members">
    {% endif %}
      <div class="member-wrapper">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo">
              {% img '{{ pet.image }}' width:265 height:175 %}
            </div>
          </div>
          <div class="info">
            <div class="name">{{ pet.name }}</div>
            {{ pet.description }}
            <div class="contacts">
              Best Friend: {{ pet.best_friend }}
            </div>
          </div>
        </div>
      </div>
    {% if modulo == '2' or forloop.last %}
      {% if modulo == '1' %}
      <div class="member-wrapper">
        <div class="member"></div>
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
