---
layout: default
title: About Us | Clockwise.MD
permalink: /about/
id: about
---

<section id="about-team" class="header-11-sub">
  <div class="background">&nbsp;</div>
</section>

<section id="about-description" class="content-10 description">
  <div class="container">
    <h3>Meet the Clockwise.MD Team</h3>
    <p>
      Clockwise.MD was founded in 2012 when a group of seasoned healthcare information technology
      entrepreneurs began applying customer-centric tools used successfully in other industries to
      the healthcare industry. The goal was to arm providers with the tools they needed to improve
      the overall patient experience. Today, Clockwise.MD's online scheduling and virtual queuing
      functionalities are used by more than 1,300 urgent care clinics, emergency departments,
      primary and specialty care clinics, radiology labs, and more to help boost patient
      satisfaction, manage online reputations, and improve patient retention.
    </p>
    <p>
      Want to learn more about the people behind the product? We have a team of passionate,
      creative-minded individuals who are devoted to helping our customers help their customers.
      However, we're not big into titles at Clockwise.MD. What we are into are our office mascots.
    </p>
    <p>
      Get to know some of our office regulars (and some of our employees’ dream pets) below.
    </p>
  </div>
</section>

<section id="about-pets" class="crew-4">
  <div class="container">
    {% for pet in site.data.pets %}
    {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}
    {% if modulo == '0' or forloop.first %}
    <div class="members">
    {% endif %}
      <div class="member-wrapper">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo">
              {% img '{{ pet.image }}' width:265 height:175 %}
            </div>
          </div>
          <div class="info">
            <div class="name">{{ pet.name }}</div>
            {{ pet.description }}
            <div class="contacts">
              Best Friend: {{ pet.best_friend }}
            </div>
          </div>
        </div>
      </div>
    {% if modulo == '2' or forloop.last %}
      {% if modulo == '1' %}
      <div class="member-wrapper">
        <div class="member"></div>
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
