<footer id="footer" class="footer-1 bg-midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        {% img 'logo_white@2x.png' width:310 height:70 alt:'Clockwise.MD Logo' %}
        <div class="address">
          <p>554 North Avenue NW</p>
          <p>Atlanta, GA 30318</p>
        </div>
      </div>
      <nav>
        <div class="col-sm-2 col-sm-offset-1">
          <h6>Clockwise.MD</h6>
          <ul>
{% include site_links.html %}
          </ul>
        </div>
        <div class="col-sm-2">
          <h6>Follow Us</h6>
          <ul>
            <li><a href="https://www.linkedin.com/company/clockwise-md">LinkedIn</a></li>
            <li><a href="https://twitter.com/clockwisemd">Twitter</a></li>
            <li><a href="https://www.facebook.com/clockwisemd/">Facebook</a></li>
          </ul>
        </div>
        <div class="col-sm-2 buy-btn">
          <a class="btn btn-primary btn-block" href="http://go.clockwisemd.com/demo-request">Request a Demo</a>
          <ul>
            <li><a href="tel:+18007291363">1.800.729.1363</a></li>
            <li><a href="http://clockwisemd.desk.com/">Contact Support</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-sm-12 legal">
        Copyright 2016 Lightshed Healthcare Technologies. All Rights Reserved. |
        <a href="/terms_of_service">Terms</a> |
        <a href="/privacy">Privacy</a>
      </div>
    </div>
  </div>
</footer>

{% js common-files/js/jquery-1.10.2.min.js %}
{% js flat-ui/js/bootstrap.min.js %}
{% js common-files/js/jquery.scrollTo-1.4.3.1-min.js %}
{% js common-files/js/modernizr.custom.js %}
{% js common-files/js/page-transitions.js %}
{% js common-files/js/easing.min.js %}
{% js common-files/js/jquery.svg.js %}
{% js common-files/js/jquery.svganim.js %}
{% js common-files/js/jquery.parallax.min.js %}
{% js common-files/js/startup-kit.js %}
