<header id="header" class="header-11">
  <div class="container">
    <div class="row">
      <div class="navbar col-sm-12" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"></button>
          <a class="brand" href="/">
            {% img 'logo_color@2x.png' width:255 height:57 alt:'Clockwise.MD Logo' %}
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav pull-left">
{% include site_links.html %}
          </ul>
          <form class="navbar-form pull-left">
            <a class="btn btn-info" href="/hospitals">Sign In</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="header-background"></div>
</header>
