---
layout: default
title: Case Studies | Clockwise.MD
permalink: /resources/case-studies/
id: cases
---

<section id="cases-header" class="header-11-sub bg-header">
  <div class="background">&nbsp;</div>
</section>

<section id="cases-description" class="content-10 description">
  <div class="container">
    <h3>Hear from Clockwise.MD customers</h3>
    <p>
      Want to learn more about how our customers are using Clockwise.MD's online scheduling to
      improve patient satisfaction, increase patient retention, and manage their online
      reputations? Take a look at the case studies below to see how urgent cares, emergency
      departments, primary and specialty cares, labs, and more are using Clockwise.MD to let
      their patients skip the wait.
    </p>
  </div>
</section>

<section id="cases-list" class="crew-4 list-of-cards">
  <div class="container">
    <div class="members">
      {% for thing in site.data.cases %}
      <div class="member-wrapper">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo" style="background: center/350px no-repeat url('{% asset_path '{{ thing.image }}' %}');" >
              {% img '{{ thing.image }}' style:'display: none;' %}
            </div>
            <div class="overlay">
              <a href="{{ thing.link }}">
                <span class="fui-eye"></span>
              </a>
            </div>
          </div>
          <div class="info">
            <div class="name">{{ thing.title }}</div>
            {{ thing.description }}
            <div class='contacts'>
              {% if thing.website %}
              <div class="website">Website: <a href="{{ thing.website }}">{{ thing.website }}</a></div>
              {% endif %}
              <a class="whitepaper" href="{{ thing.link }}">Get the Case Study &gt;</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="cases-case-study-cta" class="content-11 cta">
  <div class="container">
    <span>Don't just attract patients — retain them. Learn how Clockwise.MD can help.</span>
    <a class="btn btn-large btn-primary" href="http://go.clockwisemd.com/demo-request">Get a Demo</a>
  </div>
</section>

{% assign quotes = site.data.quotes | shuffle %}
{% include quotes.html %}
