---
layout: default
title: White Papers | Clockwise.MD
permalink: /resources/white-papers/
id: papers
---

<section id="papers-header" class="header-11-sub bg-header">
  <div class="background">&nbsp;</div>
</section>

<section id="papers-description" class="content-10 description">
  <div class="container">
    <h3>White Papers</h3>
    <p>
      Get the latest in healthcare technology, waiting psychology, and more in our research-backed
      white papers. Compiled with added insights from our own customers, Clockwise.MD white papers
      can help provide urgent cares, emergency departments, scheduled cares, labs, and more with
      the tips needed to stay ahead of the competition.
    </p>
    <p>
      We are actively growing our resources, so check back frequently for additional updates!
    </p>
  </div>
</section>

<section id="papers-list" class="crew-4 list-of-cards">
  <div class="container">
    <div class="members">
      {% for thing in site.data.papers %}
      <div class="member-wrapper">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo" style="background: center/350px no-repeat url('{% asset_path '{{ thing.image }}' %}');">
              {% img '{{ thing.image }}' style:'display: none;' %}
            </div>
            <div class="overlay">
              <a href="{{ thing.link }}">
                <span class="fui-eye"></span>
              </a>
            </div>
          </div>
          <div class="info">
            <div class="name">{{ thing.title }}</div>
            {{ thing.description }}
            <div class='contacts'><a href="{{ thing.link }}">Get the White Paper &gt;</a></div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="papers-case-study-cta" class="content-11 cta">
  <div class="container">
    <span>Don’t just attract patients — retain them. Learn how Clockwise.MD can help.</span>
    <a class="btn btn-large btn-primary" href="http://go.clockwisemd.com/demo-request">Get a Demo</a>
  </div>
</section>

{% assign quotes = site.data.quotes | shuffle %}
{% include quotes.html %}
