#not_found {
  section {
    margin-top: 2em;
    margin-bottom: 10em;
  }
}

#clockwise-map {
  min-height: 400px;
  .background {
    background-image: url(asset_path('about/map.jpg'));
    background-size: cover;
  }
}

section.content-3, section.content-4, section.content-10, section.content-14, section.crew-4 {
  padding-top: 80px;
  padding-bottom: 80px;
}

section.description {
  padding-bottom: 40px;
  h3 {
    font-weight: 400;
  }
  p {
    font-size: 18px;
  }
}

section.cta {
  background-color: $cw-blue;
  color: white;
  a {
    text-transform: uppercase;
  }
}

section.quotes {
  padding-top: 80px;
  padding-bottom: 0;

  .quote-author {
    color: #2c3e50;
    line-height: 30px;
  }
}
