#footer {
  background-color: $cw-blue;
  .btn-primary {
    background-color: $cw-green;
  }
  .address {
    margin-left: 72px;
  }
  .legal {
    text-align: center;
    margin-top: 2em;
    color: #bdc3c7;
  }
  .dropdown-arrow {
    right: 70%;
  }
}
